@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background: radial-gradient(circle, rgba(32,49,76,1) 0%, rgba(32,36,40,1) 100%);
    background-size: 100vw 200vh;
    background-position: 0px -100vh;
    font-family: 'Inter';
    color: #FFF;
}

.logo {
    display: flex;
    justify-content: center;
    height: 30vh;
}

.header {
    text-align: center;
}

.header h2 {
    font-size: larger;
    font-weight: 300;
}

.checkbox {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.checkbox h3{
    font-size: small;
    font-weight: 300;
}

.checkbox span {
    text-decoration: underline;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.checkbox-container .checkmark {
    transition: all 0.5s;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 2px solid #007AFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #007AFF;
    transition: all 0.5s;
}

.checkbox-container input:checked ~ .checkmark::after {
    content: "";
    width: 15px;
    height: 25px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.primary__blue__btn {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    background-color: #007AFF;
    padding: 20px;
    width: 60%;
    text-align: center;
    border-radius: 12px;
    transition: all 0.5s;
}

.primary__dark__btn {
    text-decoration: none;
    color: #007AFF;
    font-weight: 600;
    background-color: #20344D;
    padding: 20px;
    width: 60%;
    text-align: center;
    border-radius: 12px;
    transition: all 0.5s;
}

.primary__dark__btn:hover {
    background-color: #007AFF;
    color: #FFF;
    transition: all 0.5s;
}

.primary__blue__btn:hover {
    background-color: #20344D;
    color: #007AFF;
    transition: all 0.5s;
}

.btns_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.close__disclaimer {
    position: fixed;
    top:20px;
    right: 20px;
    background-color: #007AFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100px;
}

.disclaimer__overlay {
    display: none;
}

.disclaimer__overlay.active {
    display: block;
}

.logo.hidden, .header.hidden, .checkbox.hidden, .buttons.hidden {
    display: none;
}

.checkboxes__container {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.backbutton {
    position: fixed;
    top:10px;
    left:10px;
    font-size: xx-large;
}

.backbutton a {
    text-decoration: none;
    color: #FFF;
}

.words__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.word {
    width: 40%;
    text-align: center;
    background-color: rgba(0,0,0, 0.2);
    padding: 5px;
    border-radius: 10px;
}

.dots {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap:20px;
}

.dot {
    width: 32px;
    height: 32px;
    background-color: #4E5562;
    border-radius: 1000px;
    transition: all 0.25s;
}

.dot.active {
    background-color: #D9D9D9;
    transition: all 0.25s;
}

.keyboard {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.kb_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 40px;
    text-align: center;
    padding: 5px;
    background-color: rgba(217, 217, 217, 0.19);
    border-radius: 6px;
    font-weight: bolder;
    transition: all 0.25s;
}

.kb_button:active {
    background-color: rgba(217, 217, 217, 0.5);
    transition: all 0.25s;
}

.kb_button.none {
    visibility: hidden;
}

.kb_button.backspace {
    background-color: transparent;
}

.balance__card__container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.balance__card {
    width: 80%;
    background: url("assets/Frame\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    text-align: center;
}

.action__buttons__balance__card {
    display: flex;
    justify-content: center;
    gap:30px;
    background-color: rgba(46, 53, 61, 0.7);
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
}

.balance {
    font-size: xx-large;
}

.alert__message {
    background-color: #4C545F;
    padding: 10px;
    border-radius: 11px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.first_row p {
    font-size: small;
}

.first_row img {
    width: 24px;
    height: 24px;
}

.first_row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap:10px
}

.deploy__button {
    text-decoration: none;
    color: #FFF;
    background-color: rgba(120, 125, 132, 0.78);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.switcher {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.switch {
    position: relative;
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #2E353D;
}

.tab {
    flex: 1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
    border: none;
    background: none;
    z-index: 1;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #007bff;
    border-radius: 6px;
    transition: transform 0.3s;
}

.assets {
    display: none;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(76, 84, 95, 0.23);
    padding: 20px;
    margin-top: 20px;
    border-radius: 11px;
    margin-bottom: 100px;
}

.assets.active {
    display: block;
}

.asset {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftrow {
    display: flex;
    gap:10px;
    align-items: center;
}

.leftrow img {
    width: 38px;
    height: 38px;
}

.leftrow__text h3, .leftrow__text h4, .rightrow h3, .rightrow h4 {
    font-weight: 400;
}

.rightrow h3, .rightrow h4 {
    text-align: right;
}

.leftrow__text h3, .rightrow h3 {
    margin: 0 auto;
}

.leftrow__text h4, .rightrow h4 {
    opacity: 0.6;
    margin-top: 0px;
    font-size: small;
}

hr {
    width:100%;
    opacity: 0.2;
}

.sol_img {
    border-radius: 1000px;
}

.history__tab {
    display: none;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(76, 84, 95, 0.23);
    padding: 10px;
    margin-top: 20px;
    border-radius: 11px;
    text-align: center;
    margin-bottom: 100px;
}

.history__tab.active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.bottom__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px 30px 0 0;
    backdrop-filter: blur(20px);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: rgba(45, 56, 68, 0.7);
    z-index: 1000000;
}

.menu__button {
    padding: 10px;
    border-radius: 1000px;
}

.menu__button.active {
    background-color: #007AFF;
}

.red_text {
    color: #F48181;
}

.header__setting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    opacity: 0.6;
    margin-top: 0px;
    height: fit-content;
}

.header__setting h3 {
    font-weight: 300;
}

.header__setting img {
    width: 24px;
    height: 23px;
}

.coin__swap {
    background-color: rgba(76, 84, 95, 0.23);
    padding: 10px;
    border-radius: 11px;
}

.coin__swap .swap__from {
    margin: 0px;
    font-weight: 300;
    opacity: 0.6;
}

.swap__input {
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFF;
    font-size: x-large;
}

.first__coin {
    margin-bottom: 20px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}

.private_key_block {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.private_key_block p {
    font-size: small;
}

.private_key_alert {
    background-color: #F48181;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 11px;
}

.private_key_alert h3 {
    font-size: medium;
}

.assets.hidden, .bottom__menu.hidden {
    display: none;
}

.swap__overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -10%);
    z-index: 1000;
    background-color: rgba(0,0,0, 0.5);
}

.swap__button__ {
    z-index: -1;
}

.select_currecy_popup {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color:#2E353D;
    padding-bottom: 100px;
    opacity: 1;
    z-index: 1000;
}

.select_currecy_popup.hidden {
    visibility: hidden;
    display: none;
}

.select_currecy_popup_h2 {
    margin: 20px;
}

.select_currecy_popup .asset {
    width: 90%;
    margin: 0 auto;
    opacity: 1;
}

#from-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#send_error {
    text-align: center;
    color: #F48181;
}

.hidden_err {
    display: none;
}

.transaction {
    display: flex;
    justify-content: start;
}

.transaction__left {
    text-align: left;
}

.transaction__right {
    text-align: right;
}

.transaction.incoming .transaction__left .transaction__sum {
    color: #7ccc79;
}

.transaction.outcoming .transaction__left .transaction__sum {
    color: #8f8f8f;
}

.info_block {
    padding: 20px;
    background-color: rgba(120, 125, 132, 0.1);
    border-radius: 16px;
}

.info_block_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view_on_block_container {
    margin-top: 20px;
}

.view_on_block {
    cursor: pointer;
    text-decoration: underline;
    color: #007AFF;
    text-align: center;
}

.transaction_error {
    color: #F48181;
    text-align: center;
    opacity: 0;
}

.transaction_error.active {
    transition: all 0.25s;
    opacity: 1;
}

.check_svg {
    fill: #007AFF;
}

.check_svg_container {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
}

#recipient_link, #sender_link {
    text-decoration: underline;
}

.transaction {
    position: relative;
}

.transaction__right {
    position: absolute;
    top:0;
    right:0;
}

.chain__name {
    background-color: rgba(46, 53, 61, 0.7);
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    margin-bottom: 20px;
}

.margin_coin_page {
    margin: 20px;
}

.balance__container__ {
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
}

.assets a {
    text-decoration: none;
    color: #FFF;
}

.preloader {
    background-color: #20344D;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transition: all 1s;
}

.preloader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.preloader .container {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.container {
    --uib-size: 60px;
    --uib-color: #007AFF;
    --uib-speed: 1.5s;
    --uib-dot-size: calc(var(--uib-size) * 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(var(--uib-size) * 0.64);
    width: calc(var(--uib-size) * 0.64);
  }

  @keyframes jump {
    0%,
    100% {
      transform: translateY(120%);
    }

    50% {
      transform: translateY(-120%);
    }
  }

  .dot {
    --uib-d1: -0.48;
    --uib-d2: -0.4;
    --uib-d3: -0.32;
    --uib-d4: -0.24;
    --uib-d5: -0.16;
    --uib-d6: -0.08;
    --uib-d7: -0;
    position: absolute;
    bottom: calc(var(--uib-bottom) + var(--uib-dot-size) / 2);
    right: calc(var(--uib-right) + var(--uib-dot-size) / 2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-dot-size);
    width: var(--uib-dot-size);
    animation: jump var(--uib-speed) ease-in-out infinite;
    opacity: var(--uib-scale);
    will-change: transform;
    backface-visibility: hidden;
  }

  .dot::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
    transform: scale(var(--uib-scale));
    transition: background-color 0.3s ease;
  }

  .dot:nth-child(1) {
    --uib-bottom: 24%;
    --uib-right: -35%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d1));
  }
  .dot:nth-child(2) {
    --uib-bottom: 16%;
    --uib-right: -6%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d2));
  }
  .dot:nth-child(3) {
    --uib-bottom: 8%;
    --uib-right: 23%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d3));
  }
  .dot:nth-child(4) {
    --uib-bottom: -1%;
    --uib-right: 51%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d4));
  }
  .dot:nth-child(5) {
    --uib-bottom: 38%;
    --uib-right: -17.5%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d2));
  }
  .dot:nth-child(6) {
    --uib-bottom: 30%;
    --uib-right: 10%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d3));
  }
  .dot:nth-child(7) {
    --uib-bottom: 22%;
    --uib-right: 39%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d4));
  }
  .dot:nth-child(8) {
    --uib-bottom: 14%;
    --uib-right: 67%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d5));
  }
  .dot:nth-child(9) {
    --uib-bottom: 53%;
    --uib-right: -0.8%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d3));
  }
  .dot:nth-child(10) {
    --uib-bottom: 44.5%;
    --uib-right: 27%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d4));
  }
  .dot:nth-child(11) {
    --uib-bottom: 36%;
    --uib-right: 55.7%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d5));
  }
  .dot:nth-child(12) {
    --uib-bottom: 28.7%;
    --uib-right: 84.3%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d6));
  }
  .dot:nth-child(13) {
    --uib-bottom: 66.8%;
    --uib-right: 15%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d4));
  }
  .dot:nth-child(14) {
    --uib-bottom: 58.8%;
    --uib-right: 43%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d5));
  }
  .dot:nth-child(15) {
    --uib-bottom: 50%;
    --uib-right: 72%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d6));
  }
  .dot:nth-child(16) {
    --uib-bottom: 42%;
    --uib-right: 100%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d7));
  }

  .dot:nth-child(3) {
    --uib-scale: 0.98;
  }
  .dot:nth-child(2),
  .dot:nth-child(8) {
    --uib-scale: 0.96;
  }
  .dot:nth-child(1),
  .dot:nth-child(7) {
    --uib-scale: 0.94;
  }
  .dot:nth-child(6),
  .dot:nth-child(12) {
    --uib-scale: 0.92;
  }
  .dot:nth-child(5),
  .dot:nth-child(11) {
    --uib-scale: 0.9;
  }
  .dot:nth-child(10),
  .dot:nth-child(16) {
    --uib-scale: 0.88;
  }
  .dot:nth-child(9),
  .dot:nth-child(15) {
    --uib-scale: 0.86;
  }
  .dot:nth-child(14) {
    --uib-scale: 0.84;
  }
  .dot:nth-child(13) {
    --uib-scale: 0.82;
  }

#refreshButton {
    cursor: pointer;
}

.img__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.img__container img {
    width: 30%;
}

.copyAddressContainer {
    background-color: rgba(0,0,0, 0.2);
    padding: 10px;
    border-radius: 16px;
}

#copyButton_address {
    cursor: pointer;
}

#back {
    cursor: pointer;
}

.deploy_text {
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.margin_sendPage {
    margin-top: 50px;
}

.buttons__bottom {
    position: absolute;
    width: 100%;
    bottom:100px;
    left:0%;
}

.error__container {
    position: absolute;
    bottom:160px;
    text-align: center;
    left:0%;
    width: 100%;
    color: #F48181;
}

.wallet_id_container {
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
}

.wallet_id_container img {
    cursor: pointer;
}